<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <div class="main-container">
            <div class="body-container">
                <div class="form-container">
            <form action="/datedb" method="POST" class="form">
                Name <input type="text" name="profile" placeholder="Name..." /><br/>
                Race <input type="text" name="race" placeholder="Race..." /><br/>
                Occupation <input type="text" name="name" placeholder="Occupation... " /><br/>
                Age <input type="text" name="age" placeholder="Age..." /><br/>
                Interests <input type="text" name="interests" placeholder="ex. Candy, Dancing, Criminal Pastimes..." /><br/>
                Check The Box If They Are Currently Interested In You <input type="checkbox" name="isInterested" placeholder="Enter tag..."/><br/>
                <span style="Display: italic; font-size: .6em;"></span><br/>
                <input type="submit" value="Create Your Dates"/>
                <button class="back-btn" onclick="location.href='/datedb'">Back</button><br/>
            </div>
        </div>
</body>
</html>
